* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    outline: 1px dashed black;
}

.centered {
    margin: 0 auto;
    width: 1400px;
}

.header-bar-container {
height: 80px;
display: flex;
align-items: center;
}

.img-sec {
width: 20%;
}
img {
    width: 100%;
    height: 100%;
}
.navbar-container {
width: 60%;
display: flex;
justify-content: space-between;
align-items: center;
}
.formlog-container {
    width: 20%;
}




